//MENU-GENERAL STYLE2 -- http://prntscr.com/gpl13a
.menu-general {
	&.style2 {
		&:after {display: none;}
		
		& > ul {
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			display: flex; flex-wrap: wrap;
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			////////////////////////////////////////////////////////////////////////////////////////////////////////////
			& > li {
				width: 16.6%; margin-bottom: 25px;
				@include respond-to(md) {width: 100%; margin-bottom: 0;}
			}
		}
	}
}


//ADS -- http://prntscr.com/gpksrt
.ads {
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		display: flex; justify-content: space-between;
		@include respond-to(md) {flex-direction: column;}

		&-item {display: flex; flex-direction: column; justify-content: space-between;}
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		//////////////////////////////////////////////////////////////////////////////////////////////////////////// 
		
		&-item {
			text-align: center;
			width: 32%; padding: 20px 30px;
			background: #fff; cursor: pointer;
			@include respond-to(md) {width: 100%; margin: 10px 0;}

			&:hover {
				box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
			}

			section {
				img, h4, p {margin-bottom: 20px;}
				p {@include font-type($CormacEL, 16px, 24px, 0.5px); color: #4b5769;}
			}
		}
}

//DOINGS -- http://prntscr.com/gpkdlh
.doings {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-wr {
		display: flex; justify-content: space-between; align-items: flex-start;
		@include respond-to(md) {flex-direction: column;}
	}

	&-item {@include respond-to(md) {display: flex;}}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////////////////////////////////////////////////////////////////////////////////// 

	&-item {
		width: 32%;
		background: #fff; border: 1px solid #d9e4ea; cursor: pointer;
		@include respond-to(md) {width: 100%; margin: 10px 0;}
		@media (max-width: 580px){flex-direction: column;}

		&:hover {
			box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.08);
		}

		figure{
			width: 100%; 
			overflow: hidden;

			img {width: 100%;}
		}

		section {
			padding: 40px 20px;
			@include respond-to(md) {padding: 15px 20px;}

			h4 {
				font-size: 22px; line-height: 34px;
				margin-bottom: 25px;
			}
			p {
				@include font-type($HelveticaL, 16px, 24px, 0.5px); color: #4b5769;
				margin-bottom: 25px;
			}
			span {@include font-type($HelveticaL, 10px, 18px, 0.5px); text-transform: uppercase; color: #4b5769;}
		}
	}
}

//THANKS -- http://prntscr.com/gpjrvd
.thanks {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	display: flex; justify-content: space-between;
	@include respond-to(md) {flex-direction: column;}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////

	&-item {
		width: 32%;
		@include respond-to(md) {width: 100%; margin: 20px 0;}

		section {
			@include font-type($HelveticaL, 16px, 24px, 0.5px); color: #4b5769;
			position: relative; min-height: 260px; padding: 30px; 
			background: #fff;
			&:after {
				content: '';
				width: 0; height: 0; position: absolute; bottom: -15px; left: 50%; margin-left: -15px;
				border-style: solid; border-width: 15px 15px 0 15px; border-color: #fff transparent transparent transparent;
			}
		}

		figure {
			text-align: center;
			margin-top: 40px;

			img {
				width: 88px; height: 88px;
				border-radius: 50%;
			}

			figcaption {
				@include font-type($CormacEL, 22px, 32px, 0.5px); color: #000;
				margin-top: 10px;

				span {
					color: #4b5769; font-size: 16px; line-height: 24px;
					display: block;
				}
			}
		}

	}
}

//ABOUT LANDING STYLE 2 -- http://prntscr.com/gpjay0
.about {
	&.style2 {
		text-align: center;
		.btn-wrapp {
			margin-bottom: 60px;
			a {
				@include font-type($CormacEL, 22px, 26px, 0.5px); color: #fff; text-align: center;
				display: block; width: 50%; padding: 30px 0; 
				background: $btn-color;
				@include respond-to(sm) {width: 100%;}

				&.light {background: #5292ff;}

				i {margin-right: 10px;}
			}
		}

		.social {
			display: flex; justify-content: center;
			li {
				display: table; margin: 0 15px;
				@include respond-to(xs) {margin: 0 10px;}

				a {
					text-align: center; vertical-align: middle;
					width: 60px; height: 60px; display: table-cell;
					background: $btn-color; border-radius: 50%;

					i {color: #fff; font-size: 24px;}
				}
			}
		}
		.about-tell {
			padding: 60px 0; margin: 0;
			p {@include font-type($CormacEL, 22px, 26px, 0.5px);}
		}
	}
}



//PARTNERS-STYLE2 -- http://prntscr.com/gpgn4d
//PARTNERS-STYLE2
.partners-style2 {
	padding: 70px 0;
	background: #f4f7fb; border-bottom: 1px solid #e7edf2;

	ul {
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		display: flex; align-items: center;  justify-content: space-between;
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////
		////////////////////////////////////////////////////////////////////////////////////////////////////////////

		li {
			img {filter: grayscale(100%);}
		}
	}
}	

//FOOTER - STYLE-2 -- http://prntscr.com/gpfs5o
//FOOTER
footer.footer {
	&.style2 {
		background: #f4f7fb;

		.footer-info {
			.sep {background: #fff;}

			img {filter: grayscale(100%);}
			p {color: #000;}
			a {
				color: #4b5769;
				i {color: $link-color; font-weight: 600; margin-left: 15px;}
			}
		}

		.footer-contacts {
			@include respond-to(md){flex-direction: column;}
			@include respond-to(sm) {font-size: 16px;}

			&:after {background: #e7edf2;}
			a {font-family: $CormacEL;}
			& > ul {
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				display: flex; align-items: center;  justify-content: space-between;
				@include respond-to(xs) {flex-direction: column; align-items: flex-start;}
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////
				////////////////////////////////////////////////////////////////////////////////////////////////////////////

				width: 50%;
				@include respond-to(md) {width: 100%;}

				&:first-child {
					margin-right: 60px;
					@include respond-to(md) {margin-right: 0; margin-bottom: 40px;}
					@include respond-to(xs) {margin-bottom: 10px;}
				}

				& > li {
					@include respond-to(xs) {
						margin-bottom: 15px;
						&:last-child {margin-bottom: 0;}
					}

					ul {
						&.soc {
							display: flex;
							li {
								margin-left: 30px;
								@include respond-to(xs) {&:first-child {margin-left: 0;}}
								a {
									i {
										color: $link-color; font-size: 24px;
									}
								}
							}
						}
						li {
							a {
								color: #4b5769;
							}
						}

					}
				}
			}	
		}	
	}
}

