/*********************************/
/********** Typography ***********/
/*********************************/

.simple-class {
	
}



/*********************************/
/*********** Buttons *************/
/*********************************/

.btn {
	line-height: initial;
	padding: 0; margin: 0; vertical-align: baseline;
	border: none;
}



/*********************************/
/******** Class Helpers **********/
/*********************************/
.icon {
	display: inline-block;
}




/*********************************/
/*********** Modules *************/
/*********************************/

// list items
ul.item-list {
	display: flex; flex-wrap: wrap; margin: -10px; 
	li {
		text-align: left;
		width: calc(25% - 20px); margin: 10px;
		figure {
			img {
				width: 100%;
			}
		}
	}
}

// section header
.section-header {
	h1 {

	}
}

// header
.wr-header {
	position: relative;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.header {
	display: flex; justify-content: space-between;

	a.logo {
		margin-top: 20px;
	}

	ul {
		display: flex;
		margin-top: 25px;
		li {
			margin-left: 40px;
			&.active {
				a {
					display: inline-block;
					border-bottom-color: #4489ff;
				}
			}
			a {
				//@include font-type($CormacEL, 14px, 19px, 0.5px);
				font-size: 14px;
				font-family: $CormacEL;
				line-height: 19px;
				letter-spacing: 0.5px;	
				padding-bottom: 17px;
				border-bottom: 2px solid transparent;
				color: $main-color-text;

				i {
					margin-right: 5px;
				}

				&:hover {
					border-bottom-color: #4489ff;
				}
			}
		}
	}
}

//content
.content-wrap {
	margin-bottom: 50px;
	padding: 30px 0;
	background: #fff;
	box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.05);

	&.container {
		padding:0 ;
	}

	& > .row {
		margin: 0;
			& > div {
				padding: 0;
			}
	}
}

// login form
.wr-login {
	background: #fff;
}
.login {

	h2 {

	}

	& > ul {
		display: flex;
		& > li {
			width: 50%;

			form {
				input {
					display: block; width: 100%;
				}
				& > a {

				}
				ul {
					display: flex; justify-content: flex-end;
					li {
						a {

							&.btn {

							}
						}
					}
				}
			}

			a.login-social {
				display: block;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

//buy
.wr-buy {
	border-bottom: 1px solid #d9e4ea;	
}

.buy {
	.buy-nav {
		ul {
			display: flex;
			justify-content: space-around;
			padding-top: 25px;

			li {
				text-align: center;
				&.active {
					a {
						border-bottom-color: #4489ff;
					}
					
				}
				
				a {
					display: block;
					color: #4a4a4a;
					padding-bottom: 15px;
					border-bottom: 2px solid transparent;	
					&:hover {
						border-bottom-color: #4489ff;
					}

					span.icon-buy-wrapp {
						display: block;
						height: 35px;
						margin: 0 auto 13px auto;

						i {

						}
					}
					

					span {
						display: inline-block;
					}
				}	
			}
		}
	}
}

//search 
.wr-search {}

.search-block {
	display: flex; justify-content: space-between;

	.search-area {
		input {
			background: #f6f8fb;
			border: none;
			color: #4a4a4a;
		}
		button {
			background: $btn-color;
			border: none;
		}
	}

	.price {

	}
}



// search result
.search-result {
	text-align: center;
	.section-header {
		display: flex; justify-content: space-between;
		select {

		}
	}

	a.view-more {
		display: inline-block;
		span {
			text-align: left;
			display: block;
		}
		em {
			text-align: left;
			display: block; width: 33px; height: 33px; position: relative; padding: 11px 0 0 11px; margin: 0 auto;
			border: 1px solid #4489ff; border-radius: 50%;
			i {
				vertical-align: top;
			}
		}
	}
}

// new posts
.new-post {
	.project {
		& > a {

		}
		& > p {

		}
		ul.lists {
			display: flex;
			& > li {
				width: 33.33333%;

				ul.list {
					& > li {

					}
				}
			}
		}
	}
}



// partners
.wr-partners {
	background: #fff;
}

.partners {
	& > ul {
		display: flex;
		& > li {
			&:first-child {
				width: 70%;
				ul {
					display: flex; flex-wrap: wrap; flex-wrap: wrap;
					li {
						width: 14.285714%;
					}
				}
			}
			&:last-child {
				width: 30%;
				ul {
					display: flex;
					li {
						width: 50%;
					}
				}
			}
		}
	}
}

// footer
.wr-footer {
	background: #3f86ff;
}

.footer {
	ul {
		&.info {
			display: flex;
			li {
				width: 50%;
				&:first-child {
					text-align: right;
				}
			}
		}
		&.contacts {
			display: flex;
			& > li {
				&:first-child {
					width: 20%;
				}
				&:nth-child(2) {
					width: 30%;
				}
				&:nth-child(3) {
					width: 30%;
				}
				&:last-child {
					text-align: right;
					width: 20%;
				}

				ul {
					li {
						a {
							
						}
					}
				}
			}
		}
	}
}