.app {
	min-width: 320px; overflow-x: hidden;
	background: $main-color;

	.wr {
		&-header {
			
		}

		&-search-result {
			border-top: 1px solid #d9e4ea;
		}

		&-partners {
			background: #ffffff;
		}
		
		&-footer {
			background: #3f86ff;
		}
	}
}