.app {
	min-width: 320px;
	overflow-x: hidden;
	background: #eceff4;

	.wr {
		&-header {
			
		}

		&-search-reuslt {

		}

		&-new_post {

		}

		&-profile {
			margin-bottom: 50px;
		}

		&-fonds {
			
		}

		&-partners {
			background: #ffffff;
		}
		
		&-footer {
			background: #3f86ff;
		}
	}
}