.app {
	min-width: 320px; overflow-x: hidden;
	background: #eceff4;

	.wr {
		&-header {
			
		}

		&-search-result {
			border-top: 1px solid #d9e4ea;
		}

		&-new_post {
			margin-bottom: 50px;
		}

		&-profile {
			margin-bottom: 50px;
		}

		&-fonds {

		}

		&-partners {
			background: #ffffff;
		}
		
		&-footer {
			background: #3f86ff;
		}
	}
}