/***********************/
/******** Colors *******/
/***********************/
$main-color: #e6f2f7;
$main-color-text: #000;
$btn-color: #4489ff;


/***********************/
/******** Fonts ********/
/***********************/

// Cormac
$CormacEL:'Cormac-ExtraLight', sans-serif;