/***********************/
/******** Colors *******/
/***********************/
$main-color: #f6f8fb;
$main-color-text: #000;

$btn-color: #4489ff;


/***********************/
/******** Fonts ********/
/***********************/

// helvetica
$helv: Helvetica, sans-serif;

// Cormac
$CormacEL:'Cormac-ExtraLight', sans-serif;