/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-bell {
  background-image: url(../img/sprite.png);
  background-position: -172px -90px;
  width: 11px;
  height: 12px;
}
.icon-buy-bicycle {
  background-image: url(../img/sprite.png);
  background-position: 0px -77px;
  width: 48px;
  height: 28px;
}
.icon-buy-bone {
  background-image: url(../img/sprite.png);
  background-position: -118px -67px;
  width: 35px;
  height: 35px;
}
.icon-buy-comb {
  background-image: url(../img/sprite.png);
  background-position: -118px -32px;
  width: 35px;
  height: 35px;
}
.icon-buy-easel {
  background-image: url(../img/sprite.png);
  background-position: -159px 0px;
  width: 26px;
  height: 38px;
}
.icon-buy-home {
  background-image: url(../img/sprite.png);
  background-position: 0px -105px;
  width: 36px;
  height: 31px;
}
.icon-buy-pram {
  background-image: url(../img/sprite.png);
  background-position: -79px 0px;
  width: 39px;
  height: 38px;
}
.icon-buy-search {
  background-image: url(../img/sprite.png);
  background-position: -159px -60px;
  width: 16px;
  height: 16px;
}
.icon-buy-stand {
  background-image: url(../img/sprite.png);
  background-position: -36px -105px;
  width: 32px;
  height: 31px;
}
.icon-buy-tv {
  background-image: url(../img/sprite.png);
  background-position: -118px 0px;
  width: 41px;
  height: 32px;
}
.icon-clock {
  background-image: url(../img/sprite.png);
  background-position: -171px -102px;
  width: 11px;
  height: 11px;
}
.icon-close {
  background-image: url(../img/sprite.png);
  background-position: -68px -105px;
  width: 28px;
  height: 28px;
}
.icon-empty {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 79px;
  height: 77px;
}
.icon-filter {
  background-image: url(../img/sprite.png);
  background-position: -48px -77px;
  width: 32px;
  height: 27px;
}
.icon-header_plus {
  background-image: url(../img/sprite.png);
  background-position: -175px -60px;
  width: 10px;
  height: 10px;
}
.icon-header_search {
  background-image: url(../img/sprite.png);
  background-position: -159px -102px;
  width: 12px;
  height: 11px;
}
.icon-heart-big {
  background-image: url(../img/sprite.png);
  background-position: -159px -76px;
  width: 16px;
  height: 14px;
}
.icon-heart-empty {
  background-image: url(../img/sprite.png);
  background-position: -159px -38px;
  width: 26px;
  height: 22px;
}
.icon-heart {
  background-image: url(../img/sprite.png);
  background-position: -159px -90px;
  width: 13px;
  height: 12px;
}
.icon-marker {
  background-image: url(../img/sprite.png);
  background-position: -159px -113px;
  width: 8px;
  height: 11px;
}
.icon-plus-add {
  background-image: url(../img/sprite.png);
  background-position: -79px -38px;
  width: 37px;
  height: 37px;
}
.icon-view-more {
  background-image: url(../img/sprite.png);
  background-position: -175px -76px;
  width: 10px;
  height: 10px;
}
