//ADVANCE LANDING - http://prntscr.com/gik1np
.advance {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	display: flex; justify-content: space-around;
	@include respond-to(md) {flex-wrap: wrap;}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	color: #fff;
	padding: 80px 0;

	& > li {
		text-align: center;
		@include respond-to(md) {width: 50%; margin: 25px 0;}
		@include respond-to(xs) {width: 100%;}

		h5 {
			font-size: 64px; color: #fff;
			position: relative; display: inline-block;
			&:before {
				content: '';
				width: 9px; height: 16px; position: absolute; top: 50%; left: -15px;
				background-image: url(../img/sprite.png); background-position: -161px -60px;
			}
		 }
		 p {
		 	font-size: 16px;
		 	margin-top: 35px;
		 }
	}
}