.app.booking-wr {
	header.header {
		box-shadow: none; border-bottom: 1px solid #e4e7ea;
	}
}

.booking {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-proc {
		display: flex; justify-content: space-between;

		header {
			.wr-soc {
				ul.soc {
					display: flex; 
				}
			}
		}

		section {
			ul.score {
				display: flex; 
			}
		}
	}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	&-proc {
		@extend .neo-bg;
		margin-top: 51px !important; padding-top: 43px !important; width: calc(100% + 3px); position: relative; left: -12px;
		
		h3 {
			@include font-type($CormacB, 34px, 42px, 0); color: #000;
			position: relative; margin-bottom: 29px;
		}

		header {
			padding-left: 60px; width: 44%;
			h3 {
				span {
					position: absolute; left: -39px;
				}
			}

			p {
				@include font-type($HelveticaL, 18px, 28px, 1.5px); color: #636f81; font-weight: 300;
				margin-bottom: 36px;
			}

			.wr-soc {
				span {
					@include font-type($HelveticaL, 9px, 28px, 1.9px); color: #636f81; text-transform: uppercase;
				}
				ul.soc {
					padding: 7px 0 0 10px;
					li {
						margin-right: 42px;
						&:last-child {
							margin-right: 0;
						} 

						a {
							&:hover {
								i {
									color: $link-color;
								}
							}
							i {
								font-size: 36px; color: #c0d1dd;
								transition: .4s all ease;
							}
						}
					}
				}
			}

			.cancel {
				p {
					@include font-type($HelveticaL, 10px, 18px, 1px); text-transform: uppercase;
					margin-bottom: 20px;

					a {
						color: #ff6e63; text-decoration: underline;
						display: block; margin-top: 20px;
					}
				}
			}

		}

		section {
			width: 61%; padding-left: 40px;
			.form {
				.wr-input {
					padding-top: 27px; padding-bottom: 0; margin-bottom: 13px;
					label {
						@include font-type($HelveticaL, 18px, 28px, 1px); color: #000;
					}

				}

				&-btn-group {
					justify-content: flex-start; align-items: center;
					margin-top: 36px;

					.btn {margin-right: 40px;}
					a {
						@include font-type($CormacB, 16px, 42px, 0); color: $link-color;
					}
				}
			}

			h4 {
				@include font-type($CormacB, 22px, 32px, 0.2px);
				margin-bottom: 35px;
			}

			ul.score {
				margin-bottom: 35px;
				li {
					margin-right: 85px;
					&:last-child {margin-right: 0;}

					& > p {
						@include font-type($HelveticaL, 10px, 18px, 1px); text-transform: uppercase; color: #4b5769;
						margin-bottom: 30px;
					}

					& > div.summ {
						position: relative;
						@include font-type($CormacB, 34px, 42px, 0.2px);


						i.fa-heart {
							color: #dae7ff; 
							margin-right: 15px;
						}
						& > p {
							@include font-type($CormacB, 16px, 22px, 0.2px); color: #000;
							padding-left: 52px;
						}
					}
				}
			}

			.agree {
				@include font-type($HelveticaL, 10px, 18px, 1px); text-transform: uppercase;
				position: relative; padding-left: 30px;
				
				& > input {
					position: absolute; left: 0; top: 0;
				}
			}
			
			.info {
				span {
					@include font-type($CormacB, 22px, 32px, 0.5px); 
					margin-bottom: 35px; display: inline-block;
					&.success {
						color: #00b54b;
					}

					span {margin-bottom: 0;}
				}
				p {
					@include font-type($HelveticaNM, 18px, 28px, 0.8px);
					margin-bottom: 35px;
				}

				.btn-gr {
					font-family: $CormacEL; 
					.btn {
						font-family: $CormacEL;
						margin-right: 30px;
					}
				}
			}

		}
	}
}