// BOOKMARK -- http://prntscr.com/ggtaw9
.bookmarks {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	& > li {
		& > ul {display: flex; justify-content: space-between;
		@include respond-to(md) {display: flex; flex-direction: column;}}
	}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	margin-top: 25px;

	& > li {
		position: relative; min-height: 137px; padding: 0 101px 0 180px; @extend .neo-bg;
		@include respond-to(md) {padding-left: 160px;}
		@include respond-to(xs) {padding: 0;}

		figure {
			position: absolute; left: 0; width: 135px; overflow: hidden;
			border-bottom-left-radius: 4px; border-top-left-radius: 4px;
			@include respond-to(xs) {width: 100%; position: static;}

			img {max-width: 100%;}

		}

		& > ul {
			padding: 30px 0;
			@include respond-to(md) {padding: 5px 0;}
			@include respond-to(xs) {padding: 20px;}
			
			& > li {
				@include respond-to(sm) {background: #fff;}
				@include respond-to(xs) {padding: 0; margin-bottom: 25px;}

				&:last-child {text-align: right;}

				h3 {
					margin-bottom: 15px;
					@include respond-to(md) {width: 100%; margin-bottom: 10px;}

					a {color: #000;}
				}

				ul {
					li {
						color: #4b5769;
						display: inline-block; margin-right: 15px;
						@include respond-to(md) {display: block;}


						i {margin-right: 10px;}
					}
				}

				p {
					@include font-type($CormacEL, 24px, 28px, 0.3px);
					margin-bottom: 15px;

					@include respond-to(md) {
						color: #000; font-size: 20px; font-weight: 600; text-align: left;
						margin-bottom: 0; margin-top: 5px;
					}

				}

				span {
					color: #4b5769;
					@include respond-to(md) {display: none;}
				}
			}
		}

		& > a {
			display: block; width: 44px; height: 44px; position: absolute; right: 25px; top: 50%; transform: translateY(-50%);
			background: #ffffff; border-radius: 50%;

			@include respond-to(md) {position: absolute; right: 10px; top: calc(100% - 20px); background: transparent;}
			@include respond-to(xs) {top: calc(100% - 30px);}

			i {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
		}
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
}