.carousel {
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	.navigation {
		display: flex; justify-content: center;
	}

	.owl-dots {
		display: flex; justify-content: start;
	}

	&.found {
		.carousel-wrapp {
		display: flex;
		@include respond-to(md) {flex-direction: column;}

			.found {
				&-info {}

				&-list-land {
					// display: flex; flex-wrap: wrap; justify-content: flex-end;
					// @include respond-to(md) {justify-content: center;}
				}
			}
		}
	}

	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////

	&.found {
		position: relative;

		.carousel-wrapp {
			background: url(../img/ones.png) no-repeat left bottom;

			.found {
				&-info {
					width: 40%; padding-top: 20px;
					@include respond-to(md) {
						text-align: center;
						width: 100%; margin-bottom: 60px;
					}

					h2 {
						margin-bottom: 50px; text-align: left;
						@include respond-to(md) {
							text-align: center;
							& > br {
								display: none;
							}
						}
					}
				}

				&-list-land {
					width: 60%; position: relative;

					&:before, &:after {
						content: '';
						width: 50px; height:100%;
						position: absolute; top: 0; z-index: 8;

					} 
					&:before {
						left: 0;
						background: linear-gradient(to right, rgba(248,250,253,1) 0%,rgba(255,255,255,0) 100%); 
					} 
					&:after {
						right: 0;
						background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(248,250,253,1) 100%); 
					}

					.item {
						text-align: center;
						@include respond-to(lg) {margin: 20px;}

						figure {
							display: inline-block; width: 140px; margin-bottom: 40px;
							border-radius: 50%;

							img {
								width: 140px; height: 140px; overflow: hidden;
							}
							figcaption {
								margin-top: 25px; letter-spacing: 0.2px;
								@include font-type($CormacEL, 14px, 1, 0.5px); font-weight: 200;
							}
						}
					}
				}
			}
		}
	}

	.owl-dots {
		margin-top: 40px; padding-left: 85px;
		.owl-dot {
			width: 19px; height: 8px; margin: 0 5px;
			background: #cdeaf6; border-radius: 10px; cursor: pointer;

			&.active {
				background: #4489ff; &:hover {cursor: default;}
			}
		}
	}
	

	.navigation {
		margin-top: 40px;
		li {
			width: 19px; height: 8px; margin: 0 5px;
			background: #cdeaf6; border-radius: 10px; cursor: pointer;

			&.active {
				background: #4489ff; &:hover {cursor: default;}
			}
		}
	}

	////////////////

	&.found {
		.carousel-wrapp {
			.found {
				&-info {
					a {
						i {transition: transform .2s ease;}
						&:hover {color: #4489ff;
							i {position: relative; transform: translateX(5px);}
						}
					}
				}
			}
		}
	}

	.navigation, .owl-dots {
		li, .owl-dot {
			transition: all .2s ease; transform: translateY(0);
			&:hover {background: #4489ff; transform: translateY(-3px);}
			&:active {transform: translateY(0);}

			&.active {transform: translateY(0); &:hover {cursor: default;}}
		}
	}
}