.gift {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	header {display: flex;}
	ul li {display: flex; justify-content: space-between; align-items: center;}



	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
    @extend .neo-bg;

	header {
		margin-bottom: 30px;

		figure {
			display: block; width: 100px; height: 100px; margin-right: 20px; overflow: hidden;
			border: 1px solid #d9e4ea; border-radius: 50%;
		}

		section {
			h3 {font-size: 22px; letter-spacing: -0.2px; color: #000; margin-bottom: 20px;}
			p {@include font-type($HelveticaR, 14px, 19px, 0.4px); color: #4B5769;}
		}
	}

	ul {

		li {
			padding: 10px 0;
			border-top: 1px solid #D9E4EA;

			&:last-child {border-bottom: 1px solid #D9E4EA;}

			h4 {@include font-type($CormacEL, 16px, 19px, 0.2px); color: #000;}

			dl {

				dt, dd {font-family: $CormacEL; font-size: 18px; font-weight: 100; text-align: right;}
				a {
					@include font-type($HelveticaR, 14px, 1, 0.4px); color: $link-color;
					&:hover {text-decoration: underline;}
				}
			}
		}
	}

	footer {
		color: #89a1b3; text-align: right;
		padding-top: 20px;

		h4 {
			@include font-type($HelveticaR, 14px, 17px, 0.2px); color: #89A1B3;

			strong {
				@include font-type($CormacEL, 22px, 28px, -0.2px); color: #000; font-weight: 100;
				margin-left: 10px;
			}
		}
	}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////

}