.desc {

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	display: flex; @include  respond-to(md) {flex-direction: column;}


	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	@extend .neo-bg; margin-top: 25px;

	&-info {
		font-family: $HelveticaL;

		h3 {
			color: #9b9b9b; font-size: 18px;
			margin-bottom: 40px;
		}

		hgroup {
			margin-bottom: 37px;

			h4 {@include font-type($HelveticaL, 24px, 30px, 0.2px);}
			h5 {@include font-type($HelveticaL, 24px, 30px, 0.2px);/*font-family: $HelveticaL; font-size: 18px;*/ margin-top: 16px;}
		}

		address {letter-spacing: 0.1px; line-height: 22px;}

		a.btn {
			font-size: 16px; letter-spacing: 0.2px;
			padding: 10px 30px; margin-top: 30px;
		}
	}

	&-about {
		padding: 50px 80px 0 80px;
		@include  respond-to(md) {padding: 50px 0 0 0; margin-top: 50px; border-top: 1px solid #d9e4ea;}

		p {
			font-size: 18px; line-height: 26px;
			margin-bottom: 25px;

			&:last-child {margin-bottom: 0;}
		}
	}
}