.found-list {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	display: flex; justify-content: space-between; flex-wrap: wrap;
	li {
		display: flex; flex-direction: column; justify-content: space-around;
		figure {display: flex; align-items: center; justify-content: center;}
		section {display: flex; flex-direction: column;}
	}
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	li {
		text-align: center;
		width: 23.5%; height: 200px; margin: 10px 0;
		background: #fff; box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.05); border-radius: 5px;
		@include respond-to(md) {width: 48.5%;}
		@include respond-to(xs) {width: 100%;}

		figure {height: 100px;}
		section {
			span {
				font-family: $HelveticaR;
				&.region {color: #9d9d9d;}	
			}
			
		}
	}
}