// http://prntscr.com/gjrnrk
.found-main-filter {
	a {display: flex; justify-content: space-between; align-items: center;}

	a {
		@include font-type($CormacEL, 22px, 26px, -0.5px); color: #4a4a4a;
		padding: 15px 0;
		border-bottom: 2px solid transparent;
		i {color: #4489ff;}

		 i {transform: rotate(0deg); transition: .3s ease-in-out;}
			&.active {i {transform: rotate(-180deg);}}	
	}

	& > ul {
		flex-direction: column; padding-top: 0;
		@include slide_me();

		li {
			a {
				@include font-type($CormacEL, 14px, 19px, -0.5px); color: #4a4a4a;
				display: block; padding-bottom: 15px;
				border-bottom: 2px solid transparent;
			}
		}
	}
}