// 	FOUND-REPORT http://prntscr.com/ggtwon
.reports {
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	& > li {display: flex; justify-content: space-between;
		@include respond-to(md) {flex-direction: column;}
	}

	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	////////////////////////////////////////////////////////////////////////////////////////////////////////////
	margin-top: 25px;

	& > li {
		padding: 0 0 0 100px;
		@extend .neo-bg;
		@include respond-to(md) {padding: 0 50px 50px 50px;}
		@include respond-to(xs) {padding: 0 25px 25px 25px;}

		article {
			width: 82%; padding: 45px 20px 100px 0; position: relative;
			@include respond-to(md) {width: 100%;}

			h3 {font-size: 26px;  line-height: 34px; width: 90%; margin-bottom: 30px;}
			
			p {font-size: 16px; letter-spacing: 0.1px; line-height: 22px;}
			
			& > a {@include font-type($CormacEL, 16px, 18px, 0.3px); position: absolute; left: 0; bottom: 45px;}
		}

		figure {
			img {max-width: 100%;}
		}
		
	}
	
}