// HOW IT WORK http://prntscr.com/gi7muf
.working {
	padding: 80px 0;
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	&-wrapp {
		& > div {
			display: flex; align-items: center;
			@include respond-to(md) {justify-content: center;}
			@include respond-to(xs) {flex-direction: column;}

			h4 {letter-spacing: 0.1px;}

			&.placement {
				justify-content: flex-end;
				@include respond-to(md) {justify-content: center;}
				@include respond-to(xs) {flex-direction: column-reverse;}
			}

			&.payment {
				justify-content: center;
				@include respond-to(xs) {flex-direction: column-reverse;}
			}

			& > section {
				a {display: flex; align-items: center; letter-spacing: 0.2px;}
			}
		}
	}
	
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	////////////////////////////////////////////////
	h2 {
		text-align: center;
		margin-bottom: 80px;
	}

	&-wrapp {
		position: relative;

		& > div {
			width: 40%;
			@include respond-to(md) {width: 100%; margin: 50px 0;}
			@include respond-to(xs) {text-align: center;}

			& > section {

				a {
					margin-top: 15px; i {position: relative; top: 1px;}

					i {margin-left: 10px;}
				}
			}
		}

		.dotted-line {
			position: absolute; left: 50%; top: 55px; margin-left: -120px; display: block; width: 239px; height: 170px;
			background: url(../img/dotted-line.png) no-repeat;
			@include respond-to(md) {
				display: none;
			}
		}	
		
		.placement {
			float: left;
			@include respond-to(md) {float: none; clear: both;}
		}

		.purchase {
			float: right;
			@include respond-to(md) {float: none; clear: both;}
		}

		.payment {
			clear: both; margin: 0 auto;
			padding-top: 95px;
			@include respond-to(md) {
				padding-top: 0;
			}
		}

		.placement, .payment {
			h4 {
				text-align: right;
				@include respond-to(xs) {text-align: center;}
			}
		}

	}

	////////////////////
	&-wrapp {
		& > div {
			& > section {
				a {
					i {transition: margin .2s, opacity .2s, transform .2s ease;}

					&:hover {
						color: #4489ff;
						i {transform: translateX(5px);}
						i.icon-video {transform: translateX(0); opacity: 0.6;}
					}
				}
			}
		}
	}
}