<section class="carousel found">
	
	<div class="carousel-wrapp">
		<section class="found-info">
			<h2>Сегодня <br>
			вы можете помочь <br>
			этим людям</h2>
			<a href="#">Все благотворительные фонды <i class="icon icon-arrow-r"></i></a>
		</section>

		<div class="found-list-land owl-carousel">
			<div class="item">
				<figure>
					<img src="assets/img/participant-3.png" alt="">
					<figcaption>Рома Ш.</figcaption>
				</figure>
				<figure>
					<img src="assets/img/participant-2.png" alt="">
					<figcaption>Настя К.</figcaption>
				</figure>
			</div>
			<div class="item">
				<figure>
					<img src="assets/img/participant-4.png" alt="">
					<figcaption>Рома Ш.</figcaption>
				</figure>
				<figure>
					<img src="assets/img/participant-1.png" alt="">
					<figcaption>Настя К.</figcaption>
				</figure>
			</div>
			<div class="item">
				<figure>
					<img src="assets/img/participant-3.png" alt="">
					<figcaption>Рома Ш.</figcaption>
				</figure>
				<figure>
					<img src="assets/img/participant-2.png" alt="">
					<figcaption>Настя К.</figcaption>
				</figure>				
			</div>
			<div class="item">
				<figure>
					<img src="assets/img/participant-3.png" alt="">
					<figcaption>Рома Ш.</figcaption>
				</figure>
				<figure>
					<img src="assets/img/participant-2.png" alt="">
					<figcaption>Настя К.</figcaption>
				</figure>				
			</div>
			<div class="item">
				<figure>
					<img src="assets/img/participant-4.png" alt="">
					<figcaption>Рома Ш.</figcaption>
				</figure>
				<figure>
					<img src="assets/img/participant-1.png" alt="">
					<figcaption>Настя К.</figcaption>
				</figure>				
			</div>
			<div class="item">
				<figure>
					<img src="assets/img/participant-3.png" alt="">
					<figcaption>Рома Ш.</figcaption>
				</figure>
				<figure>
					<img src="assets/img/participant-2.png" alt="">
					<figcaption>Настя К.</figcaption>
				</figure>
			</div>
		</div>
	</div>
	

	<ul class="navigation">
		<li class="active"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</section>