<tr class="goods-single open">
	<td>
		<a href="#">Лампа настольная Pixar</a>

		<div class="goods-info">
			<div class="customer">
				<p> Продавец: <a href="#">Мирабелла глинка</a></p>
				<span>Свяжитесь с покупателем что бы договориться о месте и времени покупки</span>
			</div>

			<div class="contacts">
				<a href="tel:+73453453476" class="phone">+7 (345) 345-34-76</a>
				<a href="mailto:vasya@raush.ru">vasya@raush.ru</a></li>
			</div>
			
			<div class="action">
				<a href="#">Пожаловаться</a>
				<a href="#">Отменить бронь</a> 
			</div>
			
		</div>

	</td>
	<td><span class="value">Цена</span> 2 300 <span class="rub">a</span></td>
	<td><span class="value">Статус</span> Активно</td>
</tr>