<tr class="goods-header">
	<td><a href="#">Лампа настольная Pixar</a></td>
	<td><span class="value">Дата</span> 23.05.2017</td>
	<td><span class="value">Цена</span> 2 300 <span>₽</span></td>
	<td><span class="value">Статус</span> Активно</td>
</tr>
<tr class="goods-content">
	<td colspan="4">
		<div class="bg-top"></div>
		<div class="goods-info_inline">
			<section>
				<p>Продавец: <a href="#">Мирабелла Глинка</a></p>
				<span>Свяжитесь с покупателем что бы договориться о месте и времени покупки</span>
				<a href="#">Пожаловаться</a>
			</section>
			<ul>
				<li>
					<ul class="contacts">
						<li class="tel">
							<a href="tel:+73453453476">+7 (345) 345-34-76</a>
						</li>
						<li><a href="mailto:vasya@raush.ru">vasya@raush.ru</a></li>
					</ul>
				</li>
				<li class="actions">
					<ul>
						<li><a href="#">Отменить бронь</a></li>
						<li><span class="btn">Вещь передана покупателю</span></li>
					</ul>
				</li>
			</ul>
		</div>
	</td>
</tr>