<section class="working">
	<h2>Как это работает</h2>

	<div class="working-wrapp">
		<div class="dotted-line"></div>

		<div class="placement">
			<section>
				<h4>Вы размещаете<br>
				вещи на сайте</h4>
				<a href="#">Разместь объявление <i class="icon icon-arrow-r"></i></a>
			</section>
			<figure>
				<img src="assets/img/boy.png" alt="">
			</figure>

		</div>

		<div class="purchase">
			<figure>
				<img src="assets/img/girl.png" alt="">
			</figure>

			<section>
				<h4>Люди, которым нужны <br>
				эти вещи, их покупают</h4>
				<a href="#">Я как раз ищу кое-что <i class="icon icon-arrow-r"></i></a>
			</section>
		</div>

		<div class="payment">
			<section>
				<h4>А оплата идёт на <br>
				благотворительность</h4>
				<a href="https://www.youtube.com/watch?v=Rk6_hdRtJOE" data-lity>Посмотреть видео <i class="icon icon-video"></i></a>
			</section>

			<figure>
				<img src="assets/img/people.png" alt="">
			</figure>
		</div>

	</div><!--/working-wrapp-->

</section>
