<!--Styles in _filter.scss-->
<section class="wr bg_white border">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<!-- Filter -->
				<div class="filter f-found">
					<a href="#" class="burger js-open_filter"><i class="icon icon-filter"></i><i class="icon icon-close"></i></a>
					<div class="filter-main">
						<form action="#">
							<div class="search">
								<input type="text" placeholder="Найти">
								<button><i class="icon icon-buy-search"></i></button>
							</div>
							<div class="filter-selects">

								//= ../ux/select.html
								
							</div>

						</form>


					</div>
					

				</div>

			</div>
		</div>
	</div>
</section>