<div class="intro slide">
	<figure>
		<img src="assets/img/one.png" alt="">
		<figcaption>к здоровью</figcaption>
	</figure>

	<a href="#" class="down" style="z-index:1">
		<i class="icon icon-down"></i>
	</a>
</div>
<div class="intro slide" style="background: url(assets/img/blender.jpg) no-repeat center center #4086ff; background-size: contain;">

</div>
<div class="intro slide" style="background: url(assets/img/wash.jpg) no-repeat center center #4086ff; background-size: contain;">

</div>
<div class="intro slide" style="background: url(assets/img/dog.jpg) no-repeat right center #4086ff; background-size: contain;">

</div>