<section class="wr bg_white pb_30">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<!-- Partners -->
				<div class="partners">
					<ul>
						<li>
							<h4>18 фондов уже с нами</h4>
							<ul>
								<li><a href="#"><img src="assets/img/found1.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found2.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found3.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found4.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found5.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found6.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found7.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found8.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found9.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found10.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found11.jpg" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/found12.jpg" alt=""></a></li>
							</ul>
						</li>
						<li class="sep"></li>
						<li>
							<h4>Партнеры</h4>
							<ul>
								<li><a href="#"><img src="assets/img/part1.png"></a></li>
								<li><a href="#"><img src="assets/img/part2.png"></a></li>
								<li><a href="#"><img src="assets/img/part3.png"></a></li>
								<li><a href="#"><img src="assets/img/part4.png"></a></li>
							</ul>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</section>