<section class="wr bg_white pb_30">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<!-- Partners -->
				<div class="partners">
					<ul>
						<li>
							<h4>18 фондов уже с нами</h4>
							<ul>
								<li><a href="#"><img src="assets/img/fonds-1.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-2.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-3.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-4.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-5.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-6.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-7.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-1.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-2.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-3.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-4.png" alt=""></a></li>
                                <li><a href="#"><img src="assets/img/fonds-5.png" alt=""></a></li>
							</ul>
						</li>
						<li class="sep"></li>
						<li>
							<h4>Партнеры</h4>
							<ul>
								<li><a href="#"><img src="assets/img/partners-1.png"></a></li>
								<li><a href="#"><img src="assets/img/partners-2.png"></a></li>
							</ul>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</section>